body {
    background: #333;
    color: #fff;
}
.navbar {
    border-bottom: #008ed6 3px solid;
    opacity: 0.8;
}
#home-section {
    /* background: url(../img/varit.jpg); */
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-attachment: fixed!important;
    min-height: 760px!important; 
}

#home-section .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 760px;
    background: rgba(0,0,0,0.7)
}

#home-section .home-inner {
    padding-top: 150px;
}
.divider {
    max-width: 4.25rem;
    border-width: 0.2rem;
    border-bottom: #008ed6 3px solid;
    opacity: 0.8;
}
.slog {
    font-size: 20px;
}

.bg-gray {
    background: #f8f8f8;
}
.section-heading h2 {
    font-size: 40px;
    color: #666;
    margin: 0 0 30px;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}
.fa-angle-down{
    color: #fff;
}
.service-desc {
    color: #666;
}
.godownn{
    margin-top: 100px;
}
.godownn i{
    transition: all .2s ease-in-out;
    border-radius: 60px;
    box-shadow: 1px 1px 8px #888;
    padding: 0.2em 0.2em;
    color: #fff;
}
.godownn i:hover {
    cursor: pointer;
    transform: scale(1.3);
}


/*SERVICES SECTION */
.services_area {
    padding: 8rem 0;
    background:	#fff ;
    box-shadow: inset 0 0 100px rgb(119, 117, 117);
}
#services p {
   color: #777777;
}
.main_title h2 {
    font-family: "Oswald", sans-serif;
    color: #222222;
    margin-bottom: 20px;
}
  
  .services_item {
    text-align: center;
    padding: 45px 55px;
    border-radius: 10px;
    -webkit-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
    margin-bottom: 30px;
  }
  
  .services_item img {
    margin-bottom: 23px;
  }
  
  .services_item h4 {
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    color: #222222;
    margin-bottom: 18px;
  }
  
  .services_item p {
    font-size: 14px;
    font-family: #777777;
    line-height: 24px;
  }
  
  .services_item:hover {
    -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.5);
  }
  .services_inner {
      margin-top: 70px;
  }
/* End of Services Section */









@media(max-width:767px) {
    .godownn{
        margin-top: 20px;
    }
    #home-section .home-inner {
        padding-top: 100px;
    }

    .home-inner h1 {
        font-size: 45px;
    }
    .services_item {
        padding: 10px 55px;
    }
    .main_title {
        padding: 0 0 35px 0;
    }
    .services_inner {
        margin-top: auto;
    }
}



