body {
  /* overflow-x: hidden; */
  /* background: #333; */
  color: #fff;
}
.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}


#home-section {
  /* background: url(../img/varit.jpg); */
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  min-height: 100vh;
}

#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.7);
}

#home-section .home-inner {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.divider {
  max-width: 4.25rem;
  border-width: 0.2rem;
  border-bottom: #008ed6 3px solid;
  opacity: 0.8;
}
.slog {
  font-size: 20px;
}

.bg-gray {
  background: #f8f8f8;
}
.section-heading h2 {
  font-size: 40px;
  color: #666;
  margin: 0 0 30px;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}
.fa-angle-down {
  color: #fff;
}
.service-desc {
  color: #666;
}
.godownn {
  margin-top: 100px;
}
.godownn i {
  transition: all 0.2s ease-in-out;
  border-radius: 60px;
  box-shadow: 1px 1px 8px #888;
  padding: 0.2em 0.2em;
  color: #fff;
}
.godownn i:hover {
  cursor: pointer;
  transform: scale(1.3);
}
/* Animations */
.bounceIn {
  -webkit-animation: bounceIn 4s; /* Safari 4+ */
  -moz-animation: bounceIn 4s; /* Fx 5+ */
  -o-animation: bounceIn 4s; /* Opera 12+ */
  animation: bounceIn 4s; /* IE 10+, Fx 29+ */
}
.bounceInUp {
  -webkit-animation: bounceInUp 2s; /* Safari 4+ */
  -moz-animation: bounceInUp 2s; /* Fx 5+ */
  -o-animation: bounceInUp 2s; /* Opera 12+ */
  animation: bounceInUp 2s; /* IE 10+, Fx 29+ */
}

/*End of Animations */

/*SERVICES SECTION */
/* .services_area {
  padding: 8rem 0;
  background: #fff;
  box-shadow: inset 0 0 60px rgb(119, 117, 117);
}
#services p {
  color: #777777;
}
.mrenaservisces {
  margin-top: 50px;
}
.main_title h2 {
  font-family: "Oswald", sans-serif;
  color: #222222;
  margin-bottom: 20px;
}

.services_item {
  text-align: center;
  padding: 45px 55px;
  border-radius: 10px;
  -webkit-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
  margin-bottom: 30px;
}

.services_item img {
  margin-bottom: 23px;
}

.services_item h4 {
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  color: #222222;
  margin-bottom: 18px;
}

.services_item p {
  font-size: 14px;
  font-family: #777777;
  line-height: 24px;
}

.services_item:hover {
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.5);
}
.services_inner {
  margin-top: 70px;
} */
/* End of Services Section */

/*------------------SERVICES--------------------------------*/
#services {
  margin: auto;
}
.mrenaservices {
  padding-top: 110px;
}
.what_we_area {
  background: #fff;
}
.what_we_area .tittle h2 {
  color: #222222;
  margin-bottom: 20px;
}
.what_we_area .tittle p {
  color: #555555;
}
.what_we_area .construction_iner {
  padding-top: 40px;
  padding-bottom: 120px;
}
.what_we_area .construction_iner .construction {
  text-align: center;
  padding-bottom: 10px;
}
.what_we_area .construction_iner .construction .cns-img {
  z-index: 2;
}
.what_we_area .construction_iner .construction .cns-img img {
  padding-top: 10px;
  max-width: 100%;
}
.what_we_area .construction_iner .construction .cns-content {
  padding: 0 30px;
  padding-bottom: 20px;
  margin-top: -30px;
}
.what_we_area .construction_iner .construction .cns-content i {
  color: #fff;
  font-size: 24px;
  background: #333333;
  line-height: 60px;
  width: 60px;
  display: block;
  margin: 0 auto;
  z-index: 1;
  transition: all 300ms linear 0s;
  position: relative;
}
.what_we_area .construction_iner .construction .cns-content a {
  font: 700 18px "Roboto", sans-serif;
  text-transform: uppercase;
  color: #222222;
  padding-top: 17px;
  display: block;
}
.what_we_area .construction_iner .construction .cns-content p {
  font: 400 14px/26px "Roboto", sans-serif;
  color: #555555;
  padding-top: 20px;
}
.what_we_area .construction_iner .construction:hover a,
.what_we_area .construction_iner .construction:focus a {
  color: #008ed6;
}
.what_we_area .construction_iner .construction:hover i,
.what_we_area .construction_iner .construction:focus i {
  font-size: 35px;
}
.srvcitem:hover {
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.5);
}

/*------------------End of Services--------------------------------*/
/*----------------Proffesionl Builder----------------------------------*/
#profibuild {
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
  background: url(../img/webuildarch.jpg);
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  min-height:auto!important;
}
.light-overlay {
  width: 100%;
  min-height: auto;
  background: rgba(255, 255, 255, 0.80 );
  -webkit-box-shadow: 10px 10px 13px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 13px -8px rgba(0,0,0,0.75);
box-shadow: 10px 10px 13px -8px rgba(0,0,0,0.75);
}
.professional_builder .builder_all .builder {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}
.professional_builder .builder_all .builder i {
  font-size: 48px;
  color: #008ed6;
  padding-bottom: 35px;
}
.professional_builder .builder_all .builder h4 {
  font: 700 18px "Roboto", sans-serif;
  color: #222222;
  padding-bottom: 20px;
}
.professional_builder .builder_all .builder p {
  font: 400 14px/26px "Roboto", sans-serif;
  color: #555555;
}

/*------------------End of proffesional builder--------------------------------*/


/* --------------------Portfolio - Projektet--------------------------------------- */
#projektet {
  padding-top: 160px;
/* background-color: rgb(52, 58, 64 , 0.8)!important; */
background-color: #343a40!important
}

/* .section-margin {
  margin-top: 60px;
  margin-bottom: 60px; 
} */
.section-intro__title {
  font-size: 0.75rem;
  color: #f9cc41;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.section-intro__title.left-border {
  padding-left: 35px;
  position: relative;
}
.section-intro__title.left-border:after {
  content: "";
  display: block;
  min-width: 20px;
  height: 2px;
  background: #f9cc41;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.section-intro__subtitle {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 2.625rem;
  color: #fff;
  margin-bottom: 1.5rem;
}
.section-intro__subtitle.bottom-border {
  padding-bottom: 30px;
  margin-bottom: 50px;
  position: relative;
}
.section-intro__subtitle.bottom-border:after {
  content: "";
  display: block;
  height: 2px;
  min-width: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #f9cc41;
}
.section-intro__subtitle.small {
  font-size: 2rem;
}
.btnkostum {
  border: 2px solid #fff;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
  color: #fff;
  padding: .5rem 1.6rem;
  position: relative;
  background: transparent;
}
.btnkostum:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -1.25rem;
  min-width: 1.25rem;
  height: 2px;
  background: #fff;
}
.loadmoreprojekte {
  border: 2px solid #fff;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
  color: #fff;
  padding: .5rem 1.6rem;
  position: relative;
  background: transparent;
  margin-bottom: 50px;
}

/* --------------------End of Portfolio - Projektet ------------------------------ */



/*---------------------Contact-------------------*/
#contact h2{
  color: #222222;
}
.contact-inner {
  padding-top: 110px;
  padding-bottom: 110px;
}
.contactinf {
  font-size: 20px;
  color: #6c757d!important;
}
.samec {
  color: #008ed6!important;
}


/*---------------------End of Contact section-------------------*/


@media (max-width: 767px) {
  .godownn {
    margin-top: auto;
  }
  /* #home-section .home-inner {
    padding-top: 100px;
  } */

  .home-inner h1 {
    font-size: 45px;
  }
  .services_item {
    padding: 10px 55px;
  }
  .main_title {
    padding: 0 0 35px 0;
  }
  .services_inner {
    margin-top: auto;
  }
  .mrenaservisces {
    margin-top: auto;
  }
  .light-overlay {
    background: none!important;
    box-shadow: none!important;
  }
  .builder {
    margin: 15px;
    width: auto;
    background: rgba(255, 255, 255, 0.80 );
  }
}
